<div>
  <h1>Hi!  I have some great advice for you below</h1>
  <h3>The stupid bloody coach has come up with something bloody stupid...</h3>


  <p class="question"> <%= @question %></p>

  <p class="answer"><%= @answer %></p>


  <%= link_to "ask another question", ask_path %>
</div>
