<div>

  <h1>Hi!  I'm the intelligent super coach!</h1>
  <h3>Ask the stupid bloody coach a stupid bloody question...</h3>

  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
